<%- include("partials/header") %> 
    <div class="container" style="text-align: center;">
        <h1>
            Welcome to the education section
        </h1>
    </div>
    <%- include("partials/footer") %>