<!DOCTYPE html>
<html>

<head>
    <title>Covid resources</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/font-awesome/css/all.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-md navbar-dark">
        <div class="container-fluid" id="navContainer">
            <a class="navbar-brand col-8 col-lg-6 mt-2 text-center text-lg-left" id="navbrand" href="/">COVID-19 Student Resources</a>
            <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-lg-6 justify-content-between" id="navbarNav">
                <div class="navbar-nav col-12 justify-content-between">
                    <a class="nav-item nav-link" href="/"><span id="navlink">Home</span><span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/wellness"><span id="navlink">Wellness</span><span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/education"><span id="navlink">Education</span></a>
                    <a class="nav-item nav-link" href="/finance"><span id="navlink">Finance</span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid px-0 pt-3 p-md-0 bgimg">
        <img src="/images/homePageMask.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="container-fluid" id="grad-info">
        <div class="container">
            <div class="row pt-3 justify-content-center">
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card mxy-0 text-center" id="infoCard">
                        <div class="card-body px-0">
                            <h5 class="card-title">1+Billion learners impacted worldwide</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card" id="infoCard" >
                        <div class="card-body px-0">
                            <h5 class="card-title">20 Million college students left with uncertainty</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card" id="infoCard" >
                        <div class="card-body px-0">
                            <h5 class="card-title">50% of internships lost</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="display-5 text-center mt-3 pt-2" id="help-text">WE ARE HERE TO HELP!</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-10 col-lg-5">
                <div class="card text-center mt-3" id="aboutUs">
                    <div class="card-header" id="help-text">
                        About Us
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-muted" id="help-text">Our Mission</h4>
                        <p class="card-text pt-3">Anxiety. Job Security. Financial instability. Unstable Political
                            Environments. Covid-19 is continuously disrupting the lives of over 7 billion people. As
                            first-generation college students, we have created a platform to help navigate these
                            feelings and provide resources to those sturgging just like us
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center mt-3 pt-2 text-muted" id="help-text">Meet the Team</h4>
    <div class="container mt-5">
        <div class="row pt-3 justify-content-center">
            <div class="col-10 col-md-5 col-lg-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="/images/yatish.jpg" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Yatish Chandra Pitta</h5>
                        <p class="card-text">Graduate Student at Northeastern, Full-stack Developer, IoT enthusiast</p>
                        <a href="https://www.linkedin.com/in/yatish-pitta/" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Puneet Kaur</h5>
                        <p class="card-text">bio</p>
                        <a href="#" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Prachi Sankpal</h5>
                        <p class="card-text">bio</p>
                        <a href="#" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script>
    $(function () {
        $(document).scroll(function () {
            var nav = $("nav.navbar");
            nav.toggleClass("scrolled", $(this).scrollTop() > nav.height());
        });
    });
</script>
<%- include("partials/footer") %>