<!DOCTYPE html>
<html>
    <head>
        <title>Covid resources</title>
        <link rel="stylesheet" type="css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="text-align: center;">
        <h1>
            Welcome to COVID-19 student resources page
        </h1>
    </div>
    </body>
</html>