  <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="container-fluid pt-5" id="grad-info">
        <div class="container pt-5">
            <div class="row pt-3 justify-content-center">
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card mxy-0 text-center" id="infoCard">
                        <div class="card-body px-0">
                            <h5 class="card-title">1+Billion learners impacted worldwide</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card" id="infoCard" >
                        <div class="card-body px-0">
                            <h5 class="card-title">20 Million college students left with uncertainty</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-5 col-lg-4 justify-content-center">
                    <div class="card" id="infoCard" >
                        <div class="card-body px-0">
                            <h5 class="card-title">50% of internships lost</h5>
                            <p class="card-text">text to describe this title - optional</p>
                            <a href="#" class="card-link">link to the source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="display-5 text-center mt-3 pt-2 mb-0" id="help-text">WE ARE HERE TO HELP!</h2>
    </div>
        <div class="container-fluid px-0 pt-3 p-md-0 bgimg">
            <img src="/images/homePageMask.jpg" class="img-fluid" alt="Responsive image">
        </div>
    <div class="container-fluid" id="bioContainer">
        <div class="row justify-content-center pt-5">
            <div class="col-10 col-lg-5">
                <div class="card text-center mt-3" id="aboutUs">
                    <div class="card-header" id="help-text">
                        About Us
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-muted" id="help-text">Our Mission</h4>
                        <p class="card-text pt-3">Anxiety. Job Security. Financial instability. Unstable Political
                            Environments. Covid-19 is continuously disrupting the lives of over 7 billion people. As
                            first-generation college students, we have created a platform to help navigate these
                            feelings and provide resources to those sturgging just like us
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center mt-3 pt-2 text-muted" id="help-text">Meet the Team</h4>
    <div class="container mt-5">
        <div class="row pt-3 justify-content-center">
            <div class="col-10 col-md-5 col-lg-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="/images/yatish.jpg" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Yatish Chandra Pitta</h5>
                        <p class="card-text">Graduate Student at Northeastern, Full-stack Developer, IoT enthusiast</p>
                        <a href="https://www.linkedin.com/in/yatish-pitta/" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Puneet Kaur</h5>
                        <p class="card-text">bio</p>
                        <a href="#" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card" id="bioCard" style="width: 18rem;">
                    <img class="card-img-top" src="/images/prachi.jpg" alt="Card image cap">
                    <div class="card-body px-0">
                        <h5 class="card-title">Prachi Sankpal</h5>
                        <p class="card-text">Product Manager & UI/UX designer</p>
                        <a href="https://www.linkedin.com/in/prachisankpal/" class="card-link"><i class="fab fa-linkedin"></i> link to linkedin profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>