<%- include('partials/header') %>
<link rel="stylesheet" href="/css/mental-health.css">
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="container-fluid p-0">
        <div class="text-center mt-5" id="heading-text">
            <h1 class="display-3 pt-3 pb-2">
                MENTAL HEALTH RESOURCES
            </h1>
        </div>
    </div>
    <div class="container-fluid" id="main-body">
        <div class="media p-3">
            <img class="mr-4 img-fluid" src="/images/mental-health.jpg" alt="Generic placeholder image"
                style="width: 300px;">
            <div class="media-body">
                <div class="row">
                    <div class="col-6">
                        <h5>20% of College Students are saying there mental health has worsened since the pandemic</h5>
                    </div>
                    <div class="col-6">
                        <h5>55% of students do not know where to find help for their mental health</h5>
                    </div>
                </div>
                <div class="row">
                    <p class="p-3">some description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="infoContainer">
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Free Resources</h5>
                        <p class="card-text">While many of us are stuck at home, some
                            relationships are slipping through the crack. Here are some resources
                            to help you stay in touch, or create some new friends in this new pandemic world.</p>
                        <a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/checklists/english-checklists/Setting-a-New-Routine-COVID-19-Checklist"
                            class="card-link">link to routine checklist</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Coping with Stress</h5>
                        <p class="card-text">A short description</p>
                        <a href="https://www.latimes.com/california/story/2020-07-09/5-ways-to-stay-connected-at-college"
                            class="card-link">Tips for Students</a>
                        <br>
                        <a href="https://www.vox.com/2020/5/28/21248352/coronavirus-socializing-new-friends"
                            class="card-link">Make friends during COVID 19</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Support Groups</h5>
                        <p class="card-text">text to describe Meditation</p>
                        <a href="https://www.mindful.org/how-to-meditate/" class="card-link">How to meditate?</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Counselling Resources</h5>
                        <p class="card-text">text to describe benefits or importance of exercise</p>
                        <a href="#" class="card-link">link to the source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include("partials/footer") %>