<%- include('partials/header') %>
<link rel="stylesheet" href="/css/mindfulness.css">
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="container-fluid p-0">
        <div class="text-center mt-5" id="heading-text">
            <h1 class="display-3 pt-3 pb-2">
                WELLNESS RESOURCES
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row pt-3 justify-content-center mx-3" id="infoContainer">
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Creating a Routine</h5>
                        <p class="card-text">While many of us are stuck at home, some
                            relationships are slipping through the crack. Here are some resources
                            to help you stay in touch, or create some new friends in this new pandemic world.</p>
                        <h5 class="card-title">Routine Checklist</h5>
                        <p class="card-text">In order to cope with the constant change, you need something that makes
                            you feel grounded.
                            The Ohio Department of Health has established a routine checklist during this pandemic.</p>
                        <a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/checklists/english-checklists/Setting-a-New-Routine-COVID-19-Checklist"
                            class="card-link">link to routine checklist</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Staying in Touch</h5>
                        <p class="card-text">A short description</p>
                        <a href="https://www.latimes.com/california/story/2020-07-09/5-ways-to-stay-connected-at-college"
                            class="card-link">Tips for Students</a>
                        <br>
                        <a href="https://www.vox.com/2020/5/28/21248352/coronavirus-socializing-new-friends"
                            class="card-link">Make friends during COVID 19</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Meditation</h5>
                        <p class="card-text">text to describe Meditation</p>
                        <a href="https://www.mindful.org/how-to-meditate/" class="card-link">How to meditate?</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">Physical Activity</h5>
                        <p class="card-text">text to describe benefits or importance of exercise</p>
                        <a href="#" class="card-link">link to the source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 mt-2">
        <img class="img-fluid" src="/images/gym1.jpg" id="image-bottom">
    </div>
    </div>
    <%- include("partials/footer") %>