<%- include('partials/header') %>
<link rel="stylesheet" href="/css/minority.css">
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="container-fluid p-0">
        <div class="text-center mt-5" id="heading-text">
            <h1 class="display-3 pt-3 pb-2">
                MINORITY RESOURCES
            </h1>
        </div>
    </div>
    <div class="container-fluid" id="main-body">
        <div class="media p-3">
            <img class="mr-4 img-fluid" src="/images/mental-health.jpg" alt="Generic placeholder image"
                style="width: 300px;">
            <div class="media-body">
                <div class="row">
                    <p class="p-3">There is a disparity of mental health resource avaliability. This is due to many factors including: marganialzied groups, geographic location, money, etc. 
                        This page provides resources are for our community members who identify as a member of historically underreprsented groups: race/sexual orientation/gender/age/geographic location. etc. 
                        to help decrease the disparity in mental health resources.</p>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h4>The Facts</h4>
                    </div>
                </div>
                <div class="row text-center justify-content-around mt-3">
                    <div class="col-2">
                        <a href="https://namivirginia.org/wp-content/uploads/sites/127/2018/06/Mental-Health-Facts-for-Diverse-Populations.pdf" class="fact-links"><h5>Diverse Population Disparities</h5></a>
                    </div>
                    <div class="col-2">
                        <a href="https://minorityhealth.hhs.gov/omh/browse.aspx?lvl=4&lvlid=54" class="fact-links"><h5>Asian American Disparities</h5></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-African-Americans.pdf" class="fact-links"><h5>African American Disparities</h5></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-LGBTQ.pdf" class="fact-links"><h5>LGBTQ+ Disparities</h5></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-Hispanic-Latino.pdf" class="fact-links"><h5>LatinX Disparities</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="infoContainer">
            <div class="col-md-10 col-lg-6 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">BIPOC Resources</h5>
                        <p class="card-text">While many of us are stuck at home, some
                            relationships are slipping through the crack. Here are some resources
                            to help you stay in touch, or create some new friends in this new pandemic world.</p>
                        <a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/checklists/english-checklists/Setting-a-New-Routine-COVID-19-Checklist"
                            class="card-link">link to routine checklist</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-6 justify-content-center">
                <div class="card text-center infoCard">
                    <div class="card-body px-0">
                        <h5 class="card-title">LGBTQ+ Resources</h5>
                        <p class="card-text">A short description</p>
                        <a href="https://www.latimes.com/california/story/2020-07-09/5-ways-to-stay-connected-at-college"
                            class="card-link">Tips for Students</a>
                        <br>
                        <a href="https://www.vox.com/2020/5/28/21248352/coronavirus-socializing-new-friends"
                            class="card-link">Make friends during COVID 19</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include("partials/footer") %>