body {
    font-family: "Nunito", sans-serif
}

/* Navbar start */
.navbar {
    background-color: transparent !important;
}

nav.navbar.scrolled {
    background:rgb(59,51,72) !important;
    transition: background 500ms;
}

#navlink {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-shadow: 0px 0px 12px rgb(235,207,168);
}

#navbrand {
    font-size: 1.8rem;
    letter-spacing: 0.18rem;
}

#navbrand, #navlink:hover {
    color: rgb(230,94,75);     
}


#navbrand:hover{
    color: whitesmoke;
}

.bgimg {
    background-color: rgb(245,223,212);
}

button.navbar-toggler {
    background-color: rgb(59,51,72) ;
}


 @media (min-width: 768px) and (max-width: 991.98px) {
     #navContainer{
         flex-wrap: wrap;
         justify-content: center;
     }
 }

 @media (max-width: 768px) { 

    #navbrand {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
  }

/* Navbar end */

/* Info bar start */
#grad-info{
    background: rgb(245,223,212);
background: linear-gradient(180deg, rgba(245,223,212,1) 30%, rgba(254,254,254,1) 81%);
}

#infoCard {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.12rem;
    width: 17rem;
    text-align: center;
    margin: auto;
}

#help-text {
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
}

#aboutUs {
    border: transparent;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

#aboutUs .card-header {
    font-size: 1.6rem;
}

#bioCard {
    border: transparent;
    margin: auto;
    text-align: center;
}