body {
    font-family: "Nunito", sans-serif
}


/* Info bar start */
#grad-info{
    background: rgb(245,223,212);
/* background: linear-gradient(180deg, rgba(245,223,212,1) 30%, rgba(254,254,254,1) 81%); */
}

#infoCard {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.12rem;
    width: 17rem;
    text-align: center;
    margin: auto;
}

#help-text {
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
}

#aboutUs {
    border: transparent;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

#aboutUs .card-header {
    font-size: 1.6rem;
}

#bioCard {
    border: transparent;
    margin: auto;
    text-align: center;
}

#bioContainer {
    background: rgb(245,223,212);
    background: linear-gradient(180deg, rgba(245,223,212,1) 0%, rgba(255,255,255,1) 75%);
}